<!DOCTYPE html>
<html lang="en">
<head>
    <title>Helping-Verb</title>
    <!-- External CSS and Scripts -->
    <link rel="stylesheet" href="/assets/css/about.css">
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">
    <script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- External CSS and Scripts -->
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Profiles</a></li>
                <li><a href=""><img src="/assets/img/logo16.png" alt="logo"></a></li>
                <li><a href="">Contests</a></li>
                <li><a href="">Avatar</a></li>
            </ul>
        </nav>
    </header>
    <!-- Header End-->
    
    <main>
        <div class="about">
           <div class="H1">
               <h1>About Me</h1>
           </div>
           <div class="P1">
              <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate similique ipsam eius facilis at non cum molestiae, necessitatibus aliquam enim voluptatem, eaque ipsa officiis nihil quae minima voluptatibus, vel deleniti.
              </p>
           </div>
        </div>
        <div class="idea">
           <div class="H1">
               <h1>Idea behind Helping Verb.</h1>
           </div>
           <div class="P1">
              <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi vel enim deserunt consequuntur esse. Cumque sunt odio iste impedit? Sapiente saepe accusantium temporibus maiores facilis illum cumque quidem libero quae!
              </p>
           </div>
        </div>
        <div class="fr">
           <div class="H1">
               <h1>Features</h1>
           </div>
           <div class="P1">
              <ul>
                  <li>
                      hilkjh
                  </li>
                  <li>
                      jjhsdjh
                  </li>
                  <li>
                      adhsHJSD
                  </li>
              </ul>
           </div>
        </div>
        <div class="rst">
           <div class="H1">
              <h1> Request to Users</h1>
           </div>
           <div class="P1">
             <p>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, dolorem consequuntur totam pariatur rem iste obcaecati eius hic error vel tempora ea, fugiat aperiam! Id et debitis beatae repudiandae modi.
             </p>
           </div>
        </div>
        <div class="sugg" data-aos="fade-up">
            <div class="H1">
                <h1>Any query of suggestion</h1>
            </div>
            <div class="P1">
               <form action="">
                <input type="password" placeholder="Write your gameid"><br>
                <textarea id="" cols="30" rows="10" placeholder="write your reviews here"></textarea><br>
                <button>Send</button>
               </form>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col" id="foot1">
                <ul>
                    <li>
                       <span>Crafted By: Anonymous Developer</span>
                    </li>
                    <li>
                        Crafted with : <i class="fa fa-code" style="font-size:14px;color:yellow;"></i> + <i class="fa fa-heart" style="font-size:14px;color:yellow;"></i> <span>+</span> <i class="fa fa-coffee" style="font-size:14px;color:yellow;"></i>
                    </li>
                </ul>
                </div>
                <div class="col" id="foot2">
                    <ul>
                      <li>
                        Let's Exchange Few Thoughts.
                      </li>
                      <li id="left">
                        <a href=""><i class="fa fa-linkedin" style="font-size:14px;color:yellow;"></i></a> <span></span> <a href=""><i class="fa fa-facebook" style="font-size:14px;color:yellow;"></i></a> <a href=""><i class="fa fa-instagram" style="font-size:14px;color:yellow;"></i></a> 
                      </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="foot3">
            <span id="copy">&copy;</span><span> Copyright 2020 Helping-Verb</span>
        </div>
    </footer>
    <!-- Footer Ends-->
    <script src="/assets/js/homepage.js"></script>
</body>
</html>