<!DOCTYPE html>
<html lang="en">
<head>
    <title>Helping-Verb</title>
    <!-- External CSS and Scripts -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">
    <script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/about.css">
    <!-- External CSS and Scripts -->
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg  navbar-custom">
      <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon my-toggler"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" >
            <li class="nav-item" style="font-weight:bold; padding:8px; padding-bottom: 0px; padding-top: 0px; margin-left:7px; margin:5px; background-color: #c3073f; text-align: center;">
              <span>HV</span>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="./homepage">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./contest">Contest</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./avatar">Avatar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
    </nav>
    <!-- Header End-->
    <!-- Homepage banner -->
    <section class="banner">
      <img src="/assets/img/home-3.jpg" alt="home">
      <div class="welcome" >
        <h2>About HV</h2>
      </div>  
    </section>
  <!-- Homepage banner Ends-->
    <main>
       <div class="abouthv">
         <h2>About Helping-Verb</h2>
         <hr style="background-color: grey; margin-left: 32%; margin-right: 32%;">
         <p>
           My first Inspiration for crafting Helping-Verb was to make learning of Development and Coding little bit easier
           with the help of our seniors or fellowers. Beacuse CP needes Practice as well as proper guidence. For Once in CP 
           You can learn and practice topics by owns but Learning something in Development really needs a good updated material because 
           in Development content of Development changes oftenly (functions,documentation,etc.) and here we can ask to our seniors for 
           any recent updated and upto the need basic course along with some pro tips.
           Because if you are using any outdated course for learning anything in Developement then you are going to screwed up badly(practically faced).
           so here  we can take advantage of experience of our seniors because they already have done that googling of stuffs and errors which you
           are going to do again.<br>
           One more problem in our college is there are very few persons who are doing anything different like (Cyber security,ML,AI) 
           apart from traditional stream  and  if you are interested in learning these things so finding these persons for taking few tips and 
           guidance is very difficult.<br>
           Overall our seniors are really good in CP,Development,ML etc. streams but the problem was establishing a connection to them
           I hope so now we will establish a connection with them and will bring a Coding (Almost done) ,Development,Hackathon
           culture in our college.
         </p>
       </div>
       <div class="req">
        <h2>Humble request  and confession to Users</h2>
        <hr style="background-color: grey; margin-left: 29%; margin-right: 29%;">
        <ul>
          <li>
            1.Please add only those skill in which you can guide someone.
          </li>
          <li>
            2.Don't add paid promotional links in Contest page.
          </li>
          <li>
            3.Some profile pics may be unusual because i am not using native picture of user (limited Database) instead of 
            that i am using avatar generator API.
          </li>
          <li>
            4.Try to add atmost 8 of your top skills.
          </li>
          <li>
            5.Please don't ask quesries unnecesserly and continiously to anyone.
          </li>
          <li>
            6.I am not taking any personal data from you the data which is going to be stored in Database is social (facebook profile,github profile etc.).
          </li>
          <li>
            7.First year -> Second year -> Third year -> Final year try to maintain this order while asking your query.
          </li>
          <li>
            8.Adding a profile to arena may take sometime because in begining we will add profiles manually for security reasons.
          </li>
        </ul>
       </div>
       <div class="aboutme">
        <h2 >About Me</h2>
        <hr style="background-color: grey; margin-left: 40%; margin-right: 40%;">
        <p>A Competitive Programmer and Developer trying to Craft Something good.</p>
      </div>
       <div class="sugg">
         <h4>For Any suggestion query or feature request contact me</h4>
         <hr style="background-color: grey; margin-left: 14%; margin-right: 14%;">
         <p>I don't think so anything can be crafted perfectly in one attempt.<br>
          So if u have any better suggestion of feature or bug or query please let me know that.<br>
         You can also add features by yourself for that fork me on Github.</p>
         <div class="icons">
          <a href="https://www.linkedin.com/in/markamansingh/"><i class="fa fa-linkedin" ></i></a> 
          <a href="https://www.instagram.com/maskman_lucifer/"><i class="fa fa-instagram"></i></a> 
          <a href="http://www.maskmanlucifer.live/"><i class="fa fa-link" ></i></a> 
         </div>
       </div>
      </main>
      <a id="back2Top" title="Back to top" href="#">&#10148;</a>
    <!-- Footer -->
    <footer>
        <div>
          <ul>
            <li class="fid">
              Crafted with <i class="fa fa-code" style="font-size:14px;color:yellow;"></i> + </span> <i class="fa fa-coffee" style="font-size:14px;color:yellow;"></i> and <i class="fa fa-heart" style="font-size:14px;color:yellow;"></i> <span> By <span><a style="text-decoration: none; color:#c3073f;" href="http://www.maskmanlucifer.live/">maskman_lucifer</a></span>
            </li>
            <li class="fid">
              <span id="copy">&copy;</span><span> Copyright <span style="color:yellow;">2020 </span>Helping-Verb</span>
            </li>
          </ul>
        </div>
      </footer>
      <!-- Footer Ends-->
      <script src="/assets/js/others.js"></script>
</body>
</html>