<!DOCTYPE html>
<html lang="en">
<head>
    <title>Helping-Verb</title>
    <!-- External CSS and Scripts -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">
    <script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/avatar.css">
    <!-- External CSS and Scripts -->
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg  navbar-custom">
      <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon my-toggler"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" >
            <li class="nav-item" style="font-weight:bold; padding:8px; padding-bottom: 0px; padding-top: 0px; margin-left:7px; margin:5px; background-color: #c3073f; text-align: center;">
              <span>HV</span>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="./homepage">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./contest">Contest</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Avatar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./about">About</a>
            </li>
          </ul>
        </div>
      </nav>
    <!-- Header End-->
    <main>
        <div class="addprofile">
        <h1>You can add Your Profile in arena here.</h1>
        <hr style="margin:auto 23%; background-color: grey;">
            <div class="container">
              <div class="s1">
              <h3>Step:1</h3>
              <p>Create a Arena ID that will be your unique identity at Helping-Verb<br>
              Its kind of password for you.</p>
              <h4>Check here wheather your Arena ID is unique or not.</h4>
              <form action="action_page.php">
                <div class="row">
                  <div class="col-25">
                    <label for="pass1">Enter Arena ID:</label>
                  </div>
                  <div class="col-75">
                    <input type="text" id="pass1" name="pass1" placeholder="Enter a new arena ID" required>
                  </div>
                </div>
                <div class="row">
                  <input id="butt" type="submit" value="Check">
                </div>
              </form>
            </div>
              <div class="s2">
                <h3>Step:2</h3>
                <p>After generating Arena ID fill this google form we will add your profile after filling google form.<br>
                We will add your profile to Arena.</p>
                <a href="">Add Your Profile.</a>
              </div>
            </div>
        </div>
        <div class="editprofile">
            <h1>You can edit You Arena Profile here.</h1>
            <hr style="margin:auto 26%; background-color: grey;">
            <div class="editgeneral">
             <div class="container">
              <h3>Edit General informations.</h3>
              <form action="action_page.php">
                <div class="row">
                  <div class="col-25">
                    <label for="name">Name:</label>
                  </div>
                  <div class="col-75">
                    <input type="text" id="name" name="name" placeholder="Your name..">
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="glink">Github profile link:</label>
                  </div>
                  <div class="col-75">
                    <input type="text" id="glink" name="glink" placeholder="You github profile link..">
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="glink">Linkedin profile link:</label>
                  </div>
                  <div class="col-75">
                    <input type="text" id="llink" name="llink" placeholder="You linkedin profile link..">
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="flink">Facebook profile link:</label>
                  </div>
                  <div class="col-75">
                    <input type="text" id="flink" name="flink" placeholder="You facebook profile link..">
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="pass">Your Arena ID:</label>
                  </div>
                  <div class="col-75">
                    <input type="text" id="pass" name="pass" placeholder="Enter your arena ID" required>
                  </div>
                </div>
                <div class="row">
                  <input id="butt" type="submit" value="Save">
                </div>
              </form>
            </div>
            </div>
            <div class="addskill">
              <h1>Adding a new skill</h1>
              <hr style="margin:auto 37%; background-color: grey;">
               <div class="container">
                <h3>Add a new skill</h3>
                <form action="action_page.php">
                  <div class="row">
                    <div class="col-25">
                      <label for="skill">Skill:</label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="skill" name="skill" placeholder="c++,nodejs,reactjs....">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="pass">Your Arena ID:</label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="pass" name="pass" placeholder="Enter your arena ID" required>
                    </div>
                  </div>
                  <div class="row">
                    <input id="butt" type="submit" value="Add">
                  </div>
                </form>
              </div>
            </div>
            <div class="editarenaid">
              <h1>Editing Arena ID</h1>
              <hr style="margin:auto 37%; background-color: grey;">
               <div class="container">
                <h3>Edit Arena ID</h3>
                <form action="action_page.php">
                  <div class="row">
                    <div class="col-25">
                      <label for="pass1">Your Old Arena ID:</label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="pass1" name="pass1" placeholder="Enter your Old arena ID" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="pass">Your New Arena ID:</label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="pass" name="pass" placeholder="Enter your New arena ID" required>
                    </div>
                  </div>
                  <div class="row">
                    <input id="butt" type="submit" value="Save">
                  </div>
                </form>
              </div>
            </div>
        </div>
    </main>
    <a id="back2Top" title="Back to top" href="#">&#10148;</a>
    <!-- Footer -->
    <footer>
        <div>
          <ul>
            <li class="fid">
              Crafted with <i class="fa fa-code" style="font-size:14px;color:yellow;"></i> + </span> <i class="fa fa-coffee" style="font-size:14px;color:yellow;"></i> and <i class="fa fa-heart" style="font-size:14px;color:yellow;"></i> <span> By <span><a style="text-decoration: none; color:#c3073f;" href="http://www.maskmanlucifer.live/">maskman_lucifer</a></span>
            </li>
            <li class="fid">
              <span id="copy">&copy;</span><span> Copyright <span style="color:yellow;">2020 </span>Helping-Verb</span>
            </li>
          </ul>
        </div>
      </footer>
      <!-- Footer Ends-->
      <script src="/assets/js/others.js"></script>
</body>
</html>