<!DOCTYPE html>
<html lang="en">
<head>
    <title>Helping-Verb</title>
    <!-- External CSS and Scripts -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">
    <script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/avatar.css">
    <!-- External CSS and Scripts -->
    <style>
      body{
      font-family: 'Pangolin', cursive;
    }
    header a{
      font-family: 'Pangolin', cursive;
    }
    .banner h2{
      font-family: 'Pangolin', cursive;
    }
    main h1{
      font-family: 'Pangolin', cursive;
    }
    footer .fid{
      font-family: 'Pangolin', cursive;
    }

    </style>
    
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg  navbar-custom">
      <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon my-toggler"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" >
            <li class="nav-item">
              <a class="nav-link" href="">HV</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="./homepage">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./contest">Contest</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Avatar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./about">About</a>
            </li>
          </ul>
        </div>
      </nav>
    <!-- Header End-->
    <main>
        <div class="addprofile">
        <h1>You can add Your Profile in arena in two steps.</h1>
        <div class="s1">
            <h3>Step:1</h3>
            <p>Create a Arena ID that will be your unique identity at Helping-Verb<br>
            Its kind of password for you.</p>
            <h4>Check here wheather your Arena ID is unique or not.</h4>
            <form action="">
                <input type="password" placeholder="Enter your Arena ID." class="in">
                <input type="button" value="check" class="bn">
            </form>
        </div>
        <div class="s2">
            <h3>Step:2</h3>
            <p>Fill this google form we will add your profile after filling google form.<br>
            We will add profile manually in Initial days for security reasons after that<br>
            we may come up with feature like one to one verification.</p>
            <a href="">Add Your Profile.</a>
        </div>
        </div>
        <div class="editprofile">
            <h1>You can edit You Arena Profile here.</h1>
            <div class="editgeneral">
             <h3>Edit General informations.</h3>
             <form action="">
                 <label for="name">Name:</label>
                 <input type="text" placeholder="name" class="in"><br>
                 <label for="glink">Github profile link:</label>
                 <input type="text" placeholder="github id link" class="in"><br>
                 <label for="llink">Linkedin profile link:</label>
                 <input type="text" placeholder="linkedin id link" class="in"><br>
                 <label for="flink">Facebook profile link:</label>
                 <input type="text" placeholder="facebook id link" class="in"><br>
                 <label for="idarena">Enter your arena id:</label>
                 <input type="text" class="in" placeholder="********"><br>
                 <input type="button" class="bn" value="Save changes" class="bn">
             </form>
            </div>
            <div class="addskill">
               <h3>Add a new skill</h3>
               <form action="">
                   <label for="">Enter skill:</label>
                   <input type="text" class="in" placeholder="c++,nodejs,reactjs"><br>
                   <label for="idarena">Enter your arena id:</label>
                   <input type="text" class="in" placeholder="********"><br>
                   <input type="button" value="Add" class="bn">
               </form>
            </div>
            <div class="editarenaid">
               <h3>Edit Arena ID</h3>
               <form action="">
                   <input type="text" placeholder="Old Arena ID" class="in"><br>
                   <input type="text" placeholder="New Arena ID" class="in"><br>
                   <input type="button" value="Change ID" class="bn">
               </form>
            </div>
        </div>
    </main>
    <a id="back2Top" title="Back to top" href="#">&#10148;</a>
    <!-- Footer -->
    <footer>
        <div>
          <ul>
            <li class="fid">
              Crafted with <i class="fa fa-code" style="font-size:14px;color:yellow;"></i> + </span> <i class="fa fa-coffee" style="font-size:14px;color:yellow;"></i> and <i class="fa fa-heart" style="font-size:14px;color:yellow;"></i> <span> By Anonymous Developer
            </li>
            <li class="fid">
              <span id="copy">&copy;</span><span> Copyright <span style="color:yellow;">2020 </span>Helping-Verb</span>
            </li>
          </ul>
        </div>
      </footer>
      <!-- Footer Ends-->
      <script src="/assets/js/others.js"></script>
</body>
</html>