<!DOCTYPE html>
<html lang="en">
<head>
    <title>Helping-Verb</title>
    <!-- External CSS and Scripts -->
    <link href="assets/img/favicon.png" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">
    <script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/contribute.css">
    <!-- External CSS and Scripts -->
</head>
<body>
    <!-- Header -->
      <nav class="navbar navbar-expand-lg  navbar-custom">
        <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon my-toggler"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mr-auto" >
            <li class="nav-item" style="font-weight:bold; padding:8px; padding-bottom: 0px; padding-top: 0px; margin-left:7px; margin:3px; background-color: #c3073f; text-align: center;">
              <span><a style="color:yellow; text-decoration: none;" href="./homepage">HV</a></span>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="./homepage">Home</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./contest">Contest</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./avatar">Avatar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./about">About</a>
            </li>
          </ul>
        </div>
      </nav>
    <!-- Header End-->
    <main>
      <div>
          <h1>How to contribute ???.</h1>
      </div>
      <div class="issue">
          <div>
            <h2>Suggesting Bug or Feature.</h2>
            <p>
             For suggesting any Feature or reporting any Bug you have to create an issue.<br>
             For creating any issue you have to follow four steps.<br>
            </p>
          </div>
          <div>
             <h3>Step:1</h3>
             <p>Go to Main page of <a style="color: yellow; text-decoration: none;" href="https://github.com/maskmanlucifer/Helping-Verb">Helping-Verb</a> </p>
             <img src="/assets/img/dash.png" alt="Dashboard">
             <hr style="background-color: yellow; margin-left: 16%; margin-right: 16%;">
          </div>
          <div>
            <h3>Step:2</h3>
            <p>Click on Issue button.</p>
            <img src="/assets/img/issue.jpg" alt="Issue">
            <hr style="background-color: yellow; margin-left: 16%; margin-right: 16%;">
          </div>
          <div>
            <h3>Step:3</h3>
            <p>Create New Issue.</p>
            <img src="/assets/img/new-issue.jpg" alt="New-Issue">
            <hr style="background-color: yellow; margin-left: 16%; margin-right: 16%;">
          </div>
          <div>
            <h3>Step:4</h3>
             <p>Describe your issue and submit.</p>
             <img src="/assets/img/submit-issue.png" alt="Submit-Issue">
             <hr style="background-color: yellow; margin-left: 16%; margin-right: 16%;">
          </div>
          <div>
            <p>
              Thank you! for your suggestion.
            </p>
          </div>
      </div>
      <div class="resolve">
        <div>
            <h2>Adding Feature.</h2>
            <p>
             For Resolving any Issue or Adding any Feature Follow these steps.<br>
            </p>
          </div>
          <div>
             <h3>Step:1</h3>
             <p>Go to Main page of <a style="color: yellow; text-decoration: none;" href="https://github.com/maskmanlucifer/Helping-Verb">Helping-Verb</a> </p>
             <img src="/assets/img/dash.png" alt="Dashboard">
             <hr style="background-color: yellow; margin-left: 16%; margin-right: 16%;">
          </div>
          <div>
            <h3>Step:2</h3>
            <p>Either comment on the issue you are going to work or create your own feature.</p>
            <img src="/assets/img/taking-issue.jpg" alt="Dashboard">
            <hr style="background-color: yellow; margin-left: 16%; margin-right: 16%;">
         </div>
          <div>
            <h3>Step:3</h3>
            <p>Clone repository on your Desktop.</p>
            <img src="/assets/img/cloning-repo.jpg" alt="Resolve-Issue">
            <hr style="background-color: yellow; margin-left: 16%; margin-right: 16%;">
          </div>
          <div>
            <h3>Step:4</h3>
            <p>1. For testing model locally, create your own Database based on schema.<br>
               2. Add new feature, test it properly on you localhost.<br>
             3. After adding feature Create a Pull request i will merge PR ASAP i can.</p>
            <hr style="background-color: yellow; margin-left: 16%; margin-right: 16%;">
          </div>
          <div>
            <p>
              Thank you! for your contribution.
            </p>
          </div>
      </div>
    </main>
    <a id="back2Top" title="Back to top" href="#">&#10148;</a>
    <!-- Footer -->
    <footer>
      <div> 
        <ul>
          <li class="fid">
            Crafted with <i class="fa fa-code" style="font-size:14px;color:yellow;"></i> + </span> <i class="fa fa-coffee" style="font-size:14px;color:yellow;"></i> and <i class="fa fa-heart" style="font-size:14px;color:yellow;"></i> <span> By <span><a style="text-decoration: none; color:#c3073f;" href="http://www.maskmanlucifer.live/">maskman_lucifer</a></span>
          </li>
          <li class="fid">
            <span id="copy">&copy;</span><span> Copyright <span style="color:yellow;">2020 </span>Helping-Verb</span>
          </li>
        </ul>
      </div>
    </footer>
    <!-- Footer Ends-->
    <script src="/assets/js/homepage.js"></script>
</body>
</html>