<!DOCTYPE html>
<html lang="en">
<head>
    <title>Helping-Verb</title>
    <!-- External CSS and Scripts -->
    <link rel="stylesheet" href="/assets/css/profile.css">
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">
    <script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- External CSS and Scripts -->
</head>
<body>
    <!-- Header -->
    <div class="header">
        <nav>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Profiles</a></li>
                <li><a href=""><img src="/assets/img/logo16.png" alt="logo"></a></li>
                <li><a href="">Contests</a></li>
                <li><a href="">Avatar</a></li>
            </ul>
        </nav>
    </div>
    <!-- Header End-->
    <div class="main0">
    <div class="welcome">
        <span>Welcome to the Arena</span>
    </div>
    <div class="forma">
        <form class="example" action="">
            <input type="text" placeholder="Search by Skill..." name="search" id="tags">
            <button type="submit"><i class="fa fa-search" style="color:yellow"></i></button>
        </form>
    </div>
    <hr style="background-color:white; margin-left: 60px; margin-right: 60px;">
     <div>
        <div class="container" style="margin-top: 25px; margin-bottom: 25px;">
            <div class="row" data-aos="fade-up">
            <div class="col-md-3">
                <div class="card">
                <img src="/assets/img/2nd.jpeg" alt="1st" style="width:100%">
                <h1>Newbies</h1>
                <p>Lorem epsum</p>
                
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                <img src="/assets/img/1st.jpeg" alt="2nd" style="width:100%">
                <h1>Speci</h1>
                <p>Lorem epsum</p>
                
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                <img src="/assets/img/2nd.jpeg" alt="3rd" style="width:100%">
                <h1>Expert</h1>
                <p>Lorem epsum</p>
                
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                <img src="/assets/img/1st.jpeg" alt="Final" style="width:100%">
                <h1>Masters</h1>
                <p>Lrem epsum</p>
                
                </div>
            </div>
            </div>
        </div>
     </div>
     <div>
        <div class="container" style="margin-top: 25px; margin-bottom: 25px;">
            <div class="row" data-aos="fade-up">
            <div class="col-md-3">
                <div class="card">
                <img src="/assets/img/2nd.jpeg" alt="1st" style="width:100%">
                <h1>Newbies</h1>
                <p>Lorem epsum</p>
                
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                <img src="/assets/img/1st.jpeg" alt="2nd" style="width:100%">
                <h1>Speci</h1>
                <p>Lorem epsum</p>
                
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                <img src="/assets/img/2nd.jpeg" alt="3rd" style="width:100%">
                <h1>Expert</h1>
                <p>Lorem epsum</p>
                
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                <img src="/assets/img/1st.jpeg" alt="Final" style="width:100%">
                <h1>Masters</h1>
                <p>Lrem epsum</p>
                
                </div>
            </div>
            </div>
        </div>
     </div>
     <div>
        <div class="container" style="margin-top: 25px; margin-bottom: 25px;">
            <div class="row" data-aos="fade-up">
            <div class="col-md-3">
                <div class="card">
                <img src="/assets/img/2nd.jpeg" alt="1st" style="width:100%">
                <h1>Newbies</h1>
                <p>Lorem epsum</p>
                
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                <img src="/assets/img/1st.jpeg" alt="2nd" style="width:100%">
                <h1>Speci</h1>
                <p>Lorem epsum</p>
                
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                <img src="/assets/img/2nd.jpeg" alt="3rd" style="width:100%">
                <h1>Expert</h1>
                <p>Lorem epsum</p>
                
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                <img src="/assets/img/1st.jpeg" alt="Final" style="width:100%">
                <h1>Masters</h1>
                <p>Lrem epsum</p>
                
                </div>
            </div>
            </div>
        </div>
    </div>
    <hr style="background-color:white; margin-left: 60px; margin-right: 60px;">
    <!-- Footer -->
    <footer>
        <div class="container" class="container1">
            <div class="row">
                <div class="col" id="foot1">
                <ul>
                    <li>
                       <span>Crafted By: Anonymous Developer</span>
                    </li>
                    <li>
                        Crafted with : <i class="fa fa-code" style="font-size:14px;color:yellow;"></i> + <i class="fa fa-heart" style="font-size:14px;color:yellow;"></i> <span>+</span> <i class="fa fa-coffee" style="font-size:14px;color:yellow;"></i>
                    </li>
                </ul>
                </div>
                <div class="col" id="foot2">
                    <ul>
                      <li>
                        Let's Exchange Few Thoughts.
                      </li>
                      <li id="left">
                        <a href=""><i class="fa fa-linkedin" style="font-size:14px;color:yellow;"></i></a> <span></span> <a href=""><i class="fa fa-facebook" style="font-size:14px;color:yellow;"></i></a> <a href=""><i class="fa fa-instagram" style="font-size:14px;color:yellow;"></i></a> 
                      </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="foot3">
            <span id="copy">&copy;</span><span> Copyright 2020 Helping-Verb</span>
        </div>
    </footer>
    <!-- Footer Ends-->
    <script src="/assets/js/profile.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>