body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: tahoma;
}
body {
    background-color: #1a1a1d;
}
header{
    position: fixed;
    top: 0px;
    left: 0px;
    width:100%;
    z-index: 1;
    background-color: #1a1a1d;
    padding:12px;
}
nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
nav li{
    width: 20%;
    display: inline-block;
    font-size: 20px;
}
nav li a{
    text-decoration: none;
    color:yellow;
}
nav li a:hover{
    text-decoration: underline;
    color:#c3073f;
}
.banner {
    position:relative;
}
.banner img {
    max-width: 100%;
}
.banner .welcome{
    background:#1a1a1d;
    color:yellow;
    padding: 30px;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 30%;
  } 
  .banner .welcome span{
    font-size: 1.4em;
  }
  .banner .welcome:hover{
    color:#c3073f;
  }
  
  main {
    background-color: #1a1a1d;
  }
  
   footer{
    background:#1a1a1d;
    padding: 10px;
   }
    ul {
      list-style: none;
   }
   li{
      color:grey;
   }
   #foot2{
     text-align: right;
   }
   #left{
     padding-right:80px;
   }
   .foot3 {
     text-align: center;
     color:grey;
     padding:10px;
   }
   #copy {
     color:yellow;
   }