body, ul, li, h1, h2, a{
  margin: 0;
  padding: 0;
  font-family: tahoma;
}
body {
  background-color: #1a1a1d;
}
/*header style.*/
.header{
  position: fixed;
  top: 0px;
  left: 0px;
  width:100%;
  z-index: 1;
  background-color: #1a1a1d;
  padding:12px;
}
nav ul {
white-space: nowrap;
max-width: 1200px;
margin: 0 auto;
text-align: center;
}
nav li{
  width: 20%;
  display: inline-block;
  font-size: 20px;
}
nav li a{
  text-decoration: none;
  color:yellow;
}
nav li a:hover{
  text-decoration: underline;
  color:#c3073f;
}
/*header style ends here.*/
.maindiv{
  background-color: #c3073f;
  padding-top: 100px;
  padding-bottom: 70px;
}
.firstdiv{
  text-align: center;
}
.contest{
  padding-top:10px;
  padding-bottom: 10px;
  color:yellow;
  font-size: 20px;
  text-align: center;
}

.seconddiv{
  padding:auto ;
  text-align: center;
}
.geeks{
  text-align: center;
  font-size: 30px;
  color:yellow;
}
.spn{
  font-size:30px;
  color:yellow;
}
.heading{
  background-color: #c3073f; 
  color: yellow;
  display: inline-block;
}
.unl{
  border: 2px,bold,yellow;
}
/*footer.*/
 footer{
  background:#000;
  padding: 9px;
  padding-bottom: 4px;
 }
  ul {
    list-style: none;
 }
 li{
    color:grey;
 }
 #foot2{
   text-align: right;
 }
 #left{
   padding-right:80px;
 }
 .foot3 {
   text-align: center;
   color:grey;
   padding:10px;
   padding-top:3px;
 }
 #copy {
   color:yellow;
 }
 /*footer ends here.*/