body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: tahoma;
} 
/*body style.*/
body {
    background-color: #1a1a1d;
    font-family: 'Pangolin', cursive;
}

/*header style.*/
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
  margin-left:9%;
  margin-right:9%;
  font-size: 22px;
  font-family: 'Pangolin', cursive;
}
.navbar-nav .nav-item .nav-link {
  color:yellow;
}
.navbar-custom { 
    background-color: #000; 
} 
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: #e4255e;
}
/*header style ends here.*/

/*poster style.*/
.banner {
    position:relative;
}
.banner img {
    max-width: 100%;
}
.banner .welcome{
    background:#1a1a1d;
    color:yellow;
    padding: 60px;
    font-size: 60px;
    position: absolute;
    left: 0;
    top: 30%;
  } 
  .banner .welcome span{
    font-size: 1.4em;
  }
  .banner .welcome:hover{
    color:#c3073f;
  }
  /*poster style ends here.*/

  /*main content.*/
  main {
    background-color: #283747;
    padding:60px;
    padding-top:40px;
    color: #283747;
  }
  .profile{
    padding:10px;
    padding-bottom:40px;
    color:yellow;
    text-align: center;
    font-size: 55px;
  }
  .profile span{
    text-decoration: underline;
  }
  .profile span:hover{
    color:#c3073f;
    text-decoration: none;
  }

  /*card style*/
  .card {
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  .card h1{
    padding-top:10px;
  }
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color:yellow;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  button:hover, a:hover {
    opacity: 0.7;
  }
  /*card style ends here*/

  /*main content ends here.*/

  /*footer.*/
   footer{
    background:#000;
    padding: 9px;
    padding-bottom: 4px;
    font-size: 17px;
    text-align: center;
    color:grey;
   }
   .fid{
     padding:6px;
   }
   #copy {
     color:yellow;
   }
   /*footer ends here.*/

   
